<header>
  <div class="container-fluid">
    <div class="row">
      <div class="header-left hidden-xs hidden-sm col-md-4">
      </div>
      <div class="header-middle col-xs-12 col-md-4">
        <div class="header-middle-box">
          <p>
            <%= current_user.name %>
            <span class="space"><%= link_to("ログアウト", session_path(current_user.id), method: :delete) %></span>
          </p>
        </div>
      </div>
      <div class="header-right hidden-xs hidden-sm col-md-4">
      </div>
    </div>
  </div>
</header>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="content-left hidden-xs hidden-sm col-md-4">
      </div>
      <%= form_with(model: @picture, local: true ) do |f| %>
        <%= f.hidden_field :comment %>
        <%= f.hidden_field :image %>
        <div class="content-middle col-xs-12 col-md-4">
          <div class="content-middle-head">
            <div class="content-middle-head-back">
              <input class="btn btn-default" type="submit" value="戻る" name="back">
            </div>
          </div>
          <div class="content-middle-comment">
            <div class="content-middle-comment-title">
              <p>コメント</p>
            </div>
            <div class="content-middle-comment-box">
              <p><%= @picture.comment %></p>
            </div>
          </div>
          <div class="content-middle-image">
            <div class="content-middle-image-title">
              <p>画像</p>
            </div>
            <div class="content-middle-image-box">
              <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
              <%= f.hidden_field :image_cache %>
            </div>
            <div class="content-middle-submit">
              <%= f.submit "投稿する" %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="content-right hidden-xs hidden-sm col-md-4">
      </div>
    </div>
  </div>
</div>
